html
{
	height: 100%;
}

.custom-container
{
	padding-top: 20px;
	padding-left: 38px;
	padding-right: 38px;
	height: 100%;
	width: 2400px;
}

.row
{
	margin-top: 0px;
	margin-bottom: 10px;
}

.col
{
	margin-right: 10px;
	border-radius: 5px;
}

.row .table
{
	font-size: 0.80em;
}

.row .table th
{
	border-top: 0px;
}

.td-titulo-card
{
	max-width: 200px;
}

textarea
{
	resize: none;
}
