html
{
	height: 100%;
}

.custom-container
{
	/*margin: 0;*/
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 3%;
	height: 100%;
}

.row
{
	margin-top: 0px;
	margin-bottom: 10px;
}

.col
{
	margin-right: 10px;
	border-radius: 5px;
}

.row .table
{
	font-size: 0.80em;
}

.row .table th
{
	border-top: 0px;
}

.td-titulo-card
{
	max-width: 200px;
}

textarea
{
	resize: none;
}
